QPushButton {
	background-color: rgb(96, 186, 255);
	border-radius:5px;
	margin: 5% 5%;
	padding: 10% 0;
	color: #eeeeff;
}

QPushButton:hover {
	background-color: #5aaaff;
}

QPushButton:pressed {
	background-color: #4584c3;
}

QLabel#username {
	font-size: 24px;
	color: #808080;
	qproperty-alignment: AlignCenter;
}

QLabel#loading {
	font-size: 16px;
	color: #808080;
	qproperty-alignment: AlignCenter;
}
