QPushButton {
	background-color: rgb(96, 186, 255);
	border-radius:5px;
	margin: 5% 5%;
	padding: 1% 0;
	color: #eeeeff;
}

QPushButton:hover {
	background-color: #5aaaff;
}

QPushButton:pressed {
	background-color: #4584c3;
}

QLabel#title {
	font-size:15px;
	font-weight:900;
}

QWidget#logo {
	border-image: url(:/imgs/images/logo2.png);
}